@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #b8860b;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}
header,
section h2{
    font-family: "Bungee", sans-serif;
    font-weight: normal;
    font-style: normal;
}

header h1 {
    cursor: pointer;
    padding-top: 16px;
    font-size: 40px;
    font-weight: normal;
}

header nav li a {
    text-decoration: none;
    color: #ecf0f1;
}

header nav li a:hover {
    font-size: 19px;
    text-decoration: underline;
}

header nav{
    display: none;
    padding: 20px 0;
    background-color: #836006;
}

.menu-hamburguer{
    padding-top: 17px;
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span{
    height: 3px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

#carousel{
    width: 80%;
    margin: 40px auto;
}

#carousel img{
    height: 800px;
}

body {
    background-color: #eeae0c6b;
}

.container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

section .container{
    padding: 16px 0;
    align-items: start;
    justify-content: flex-start;
}

section .container p {
    font-size: 14px;
}

.style-section{
    padding-top: 70px;
    border: 0;
    border-top: 60px;
    border-style: solid;
    border-color: #b8870b77;
    margin-bottom: 20px;
}

.images {
    height: 600px;
    width: 500px;
    margin-right: 16px;
}

#intro iframe {
    margin-left: 16px;
}

#imagedlc{
    height: 630px;
} 

#imgContact {
    height: auto;
}

#dlcFavorita{
    display: flex;
    justify-content: space-between;
}

.imgDlcsFavoritas{
    height: 300px;
}

.imgDlcsFavoritas:hover{
    cursor: pointer;
}

#dlcs2 h2 {
    font-size: 20px;
    margin-right: 150px;
}

#contactForm {
    margin-top: 20px;
    margin-left: 20px;
    padding: 6px;
    max-width: 750px;
    width: 100%;
    height: 465px;
    background-color: #be8a0546;
}
#contactForm h3 {
    margin-left: 10px;
}

#contactForm form input, button {
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    display: block;
    width: 300px;
}

#contactForm form textarea {
    resize: none;
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
    height: 170px;
}

#contactForm form button {
    font-size: 18px;
    cursor: pointer;
} 
#contactForm form button:hover {
    background-color: #b8860b;
    color: #ecf0f1;
    font-weight: bolder;
}

#imgForm {
    margin: 30px 50px;
    height: 400px;
    width: 320px;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: #b8860b;
    color: #ecf0f1;
}

footer p {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}


